//устанавливаем ключевые кадры
@keyframes heartbeat {
	//начально положение сердца
	from {
		//масштаб элемента scale(1) = 100%
		transform: scale(1);
	}
	//промежуточное положение сердца
	50% {
		//сердце будет увеличиваться на 10%
		transform: scale(1.2);
	}
	//конечное положение сердца
	to {
		//сердце будет возвращаться в исходное положение
		transform: scale(1);
	}

}