.button {
	width: 150px;
	height: 30px;
	border: none;
	border-radius: 5px;
	background: $color-red;
	padding: 0;
	font-weight: 300;
	font-size: 12px;
	text-transform: uppercase;
	color: #FFFFFF;

	&:hover {
		cursor: pointer;
		
	}

	&_main {
		width: 300px;
		height: 50px;
		font-size: 16px;
		margin-bottom: 18px;
	}

	&_submit {
		width: 100%;
		height: 55px;
		font-size: 16px;
	}

	&_catalog {
		width: 131px;
		height: 40px;
		font-weight: 500;
		font-size: 14px;
	}

}