.overlay {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .4);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 380px;
	min-height: 400px;
	background: #F2F2F2;
	padding: 40px;

	&__close {
		position: absolute;
		top: 0;
		right: -40px;
		font-size: 40px;
		line-height: 20px;
		color: $color-red;
		cursor: pointer;
	}

	&__subtitle {
		font-weight: 700;
		font-size: 18px;
		text-align: center;
		color: #0D0D0D;
		margin-bottom: 10px;
	}

	&__descr {
		font-weight: 500;
		font-size: 14px;
		text-align: center;
		color: #0D0D0D;
		margin-bottom: 25px;

		&_mini {
			margin: 0;
			line-height: 20px;
		}
	}

	&_mini {
		min-height: 140px;
	}

	.error {
		//класс для всплывающих подсказок при неправильном вводе данных (взяли с сайта про валидацию форм)
		border: 1px solid $color-red;
		margin-bottom: 5px;

		&:nth-child(3) {
			margin-bottom: 5px;
		}
	}

	label.error {
		border: none;
		text-align: center;
		margin-bottom: 20px;
		font-weight: 300;
		font-size: 15px;
	}
}

#consultation,
#order,
#thanks {
	display: none;
}