.title {
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	color: #0D0D0D;
	margin-bottom: 60px;
	text-transform: uppercase;
	&_left {
		width: 800px;
		font-size: 36px;
		line-height: 54px;
		text-align: left;
		color: #FFFFFF;
		margin-bottom: 24px;
	}
	&_catalog {
		font-weight: 400;
		margin-bottom: 60px;
	}

}
